streamlit
lightkurve
matplotlib
astropy
pandas
numpy
astroquery
plotly>=5.0.0
streamlit-plotly-events
reportlab
pillow
python-dotenv
mysql-connector-python
fastapi
uvicorn
streamlit-cookies-manager
onnxruntime
piper-tts
bcrypt